/* Font Family */
/* Raleway */
/* Abril Fatface */
/* color: #0a0013 */
/* Ruby: #E40066 */
/* Davys Grey: #4D5359 */
/* Steel Teal: #508484 */
/* Platinum: #E5E6E4 */
/* Magic Mint: #B8EBD0 */


/* CSS Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Temporary styles */
* {
    padding: 0.5rem;
    border: 2px solid rgb(90, 90, 90);
  } 

body { border: none; }

html { border: none; }

/* Universal Styles and Utility Classes */

/* Padding */
.padded { padding: 5%;}

.padded-sm { padding: 2.5%; }
.padded-md { padding: 5%;   }
.padded-lg { padding: 10%;  }

.padded-05 { padding: 0.5rem; }
.padded-1 { padding: 1rem; }
.padded-2 { padding: 2rem; }

.padded-t { padding-top: 5%; }
.padded-b { padding-bottom: 5%; }
.padded-l { padding-left: 5%; }
.padded-r { padding-right: 5%; }

.padded-tb { padding-top: 5%; padding-bottom: 5%; }
.padded-lr { padding-left: 5%; padding-right: 5%; }

.padded-t-1 { padding-top: 1rem; }
.padded-b-1 { padding-bottom: 1rem; }
.padded-l-1 { padding-left: 1rem; }
.padded-r-1 { padding-right: 1rem; }

.padded-t-2 { padding-top: 2rem; }
.padded-b-2 { padding-bottom: 2rem; }
.padded-l-2 { padding-left: 2rem; }
.padded-r-2 { padding-right: 2rem; }

.padded-t-0 { padding-top: 0; }
.padded-b-0 { padding-bottom: 0; }
.padded-l-0 { padding-left: 0; }
.padded-r-0 { padding-right: 0; }

/* Margin */
.margin-t { margin-top: 5%; }
.margin-b { margin-bottom: 5%; }
.margin-l { margin-left: 5%; }
.margin-r { margin-right: 5%; }

.margin-t-1 { margin-top: 1rem; }
.margin-b-1 { margin-bottom: 1rem; }
.margin-l-1 { margin-left: 1rem; }
.margin-r-1 { margin-right: 1rem; }

.margin-t-2 { margin-top: 2rem; }
.margin-b-2 { margin-bottom: 2rem; }
.margin-l-2 { margin-left: 2rem; }
.margin-r-2 { margin-right: 2rem; }

.margin-t-0 { margin-top: 0; }
.margin-b-0 { margin-bottom: 0; }
.margin-l-0 { margin-left: 0; }
.margin-r-0 { margin-right: 0; }

.margin-tb { margin-top: 5%; margin-bottom: 5%; }
.margin-lr { margin-left: 5%; margin-right: 5%; }

/* Minimum Height */
.tall-50  {  min-height: 50vh; }
.tall-60  {  min-height: 60vh; }
.tall-70  {  min-height: 70vh; }
.tall-80  {  min-height: 80vh; }
.tall-90  {  min-height: 90vh; }
.tall-100 {  min-height: 100vh;}

/* Background and Background Images
 */
 /* Backgrounds */
 .bg-dark { 
  background-color: #508484 ; 
  color: #E5E6E4;
}

.bg-light { background-color: #E5E6E4); }
.bg-featured { background-color: #B8EBD0  }

/* Images */
 bg-image {
  background-image: url("...");
  background-size: cover;
  min-height: 10rem;
}

/* Aspect ratios */
.portrait-tall  { padding-bottom: 175%;}
.portrait       { padding-bottom: 125%;}
.square         { padding-bottom: 100%;}
.landscape      { padding-bottom: 66%; }
.landscape-wide { padding-bottom: 56%; }

/* Typography Styles */

body {
  font-family: 'Raleway', sans-serif;
  color: #4D5359;
 }