* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Temporary styles */
* {
    padding: 0.5rem;
    border: 2px solid rgb(90, 90, 90);
  } 

body { border: none; }

html { border: none; }